<html>
<head>
	<title></title>
</head>
<body>
	<p>
	Latorre Xavier, J'ai traverse la rue et me voila, frontend
	<br>
  Delellis Mathieu, Notre cher Team Leader, véritable moteur de l equipe et gestionnaire de la bonne ambiance, frontend
    <br>
  Zemmouri Samir,Samir, simplement Samir, backend
  <br>
  Madeira Cindy, Avec son ame d artiste, elle nous propose son aide pour que le site soit magnifique, webdesign-frontend
  <br>
  Autricque Adrien, Veritable expert fullstack, son aide est précieuse pour que l application vous renvoie la bonne personne, backend
  <br>
  Maud Mareen, Toujours dans la joie et la bonne humeur, Mareen veille à la bonne mise en place du site, devops-backend
  <br>
 Dugauquier Rémy, Notre cher ami belge venu en France pour gérer des données, base de données
	</p>

</body>
</html>
